<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<ol class="marker--legend">
			<f:for each="{records}" as="record" iteration="iterator">
				<f:render section="Item" arguments="{data: record.data, iterator: iterator}" />
			</f:for>
		</ol>
	</f:section>

	<f:section name="Item">
		<li class="marker--legend-item">
			<div class="marker--legend-item-index">{iterator.cycle}</div>

			<f:if condition="{data.title}">
				<div class="marker--legend-item-title">
					<f:render partial="Header/Header" arguments="{header: data.title, layout: data.titleType}" />
				</div>
			</f:if>

			<f:if condition="{data.description}">
				<f:format.html>{data.description}</f:format.html>
			</f:if>
		</li>
	</f:section>
</div>