<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{data.bodytext}">
			<f:format.html>{data.bodytext}</f:format.html>
		</f:if>

		<f:render section="Variant-{data.tx_xo_variant}" optional="1" arguments="{_all}">
			<ul class="accordion">
				<f:for each="{records}" as="record">
					<f:variable name="identifier">{data.uid}-{record.data.uid}</f:variable>

					<li>
						<f:render partial="Accordion/Listing/Header" section="Main" arguments="{identifier: identifier, title: record.data.title, titleType: record.data.title_type, expanded: record.data.tx_ce_accordion_active}" />
						<f:render partial="Accordion/Listing/Item" section="Main" arguments="{identifier: identifier, record: record}" />
					</li>
				</f:for>
			</ul>
		</f:render>
	</f:section>
</div>